.flats {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  cursor: pointer;
}


.flat {
  flex-basis: calc(50% - 20px);
  margin: 10px;
}

.flat-picture {
  height: 200px;
  background-size: cover;
  background-position: center;

}

.flat-title {
  margin-top: 10px;
  font-weight: bold;
}


@media (max-device-width: 599px) {
 /* Breite beträgt höchstens 1024px */
  .flat {
  flex-basis: calc(100% - 20px);
  margin: 10px;
  }
}
